<div class="row">
    <div class="col-12">
        <div class="filter-container isotopeFilters">
            <ul class="list-inline filter">
                <li [ngClass]="{'active': customizer == 'all' }"><a (click)="openGallery('all')">Tout </a></li>
                <li [ngClass]="{'active': customizer == 'portrait' }"><a (click)="openGallery('portrait')">Portrait</a></li>
                <li [ngClass]="{'active': customizer == 'evenementiel' }"><a (click)="openGallery('evenementiel')">Evenementiel</a></li>
                <li [ngClass]="{'active': customizer == 'animaux' }"><a (click)="openGallery('animaux')">Animaux</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="isotopeContainer row">
    <ng-container *ngIf="customizer=='all'">
        <app-category [tags]="mots" class="w-100"></app-category>
    </ng-container>
    <ng-container *ngIf="customizer=='portrait'">
        <app-category [tags]="mots2" [isSubMenuShown]="true" class="w-100"></app-category>
    </ng-container>
    <ng-container *ngIf="customizer=='evenementiel'">
        <app-category [tags]="mots3" [isSubMenuShown]="true" class="w-100"></app-category>
    </ng-container>
    <ng-container *ngIf="customizer=='animaux'">
        <app-category [tags]="mots1" [isSubMenuShown]="true" class="w-100"></app-category>
    </ng-container>
</div>



<!-- pagination Start -->
<div class="pagination_sec">
    <div class="content_detail__pagination cdp">
        <ul>
            <li><a href="javascript:void(0)" class="prev"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
            </li>
            <li><a href="javascript:void(0)" class="active cdp_i">1</a></li>
            <li><a href="javascript:void(0)" class="cdp_i">2</a></li>
            <li><a href="javascript:void(0)" class="cdp_i">3</a></li>
            <li><a href="javascript:void(0)" class="next"><i class="fa fa-angle-double-right"
                        aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>
<!-- pagination End -->
