<!-- gallery section Start-->
<section class="music gallery bg-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title4">
                    <div class="main-title">
                        <h2><i class="fa fa-instagram"></i> Derniers posts instagram</h2>
                    </div>
                    <div class="sub-title">
                        <p>Lorem ipsum </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <owl-carousel-o class="gallery-slider" [options]="galleryCarouselOptions">
                    <ng-container *ngFor="let image of gallery">
                        <ng-template carouselSlide class="item">
                            <img [src]="image.img" alt="">
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!-- gallery section end-->