<div class="row" *ngIf="isSubMenuShown">
    <div class="col-12">
        <div class="filter-container isotopeFilters">
            <ul class="list-inline filter">
                <li [ngClass]="{'active': customizer == 'all' }"><a (click)="openGallery('all')">Tout </a></li>
                <li [ngClass]="{'active': customizer == 'portrait' }"><a (click)="openGallery('portrait')">Portrait</a>
                </li>
                <li [ngClass]="{'active': customizer == 'evenementiel' }"><a
                        (click)="openGallery('evenementiel')">Evenementiel</a></li>
                <li [ngClass]="{'active': customizer == 'animaux' }"><a (click)="openGallery('animaux')">Animaux</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row" *ngIf="isSubMenuShown">
    <div class="col-12">
        <div class="filter-container isotopeFilters">
            <ul class="list-inline filter">
                <li *ngFor="let item of submenu" [ngClass]="{'active': customizer == item }"><a (click)="openGallery(item)">{{item}} </a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row m-0">
    <figure class="my-app-custom-image-with-desc p-width" *ngFor="let img of images">
        <div class="isotopeSelector shoes fashion ">
            <div class="overlay">
                <div class="border-portfolio">
                    <div class="overlay-background">
                        <i class="fa fa-plus" aria-hidden="true" (click)="openImageModalRowDescription(img)"></i>
                    </div>
                    <img [src]="img.modal.img" />
                </div>
            </div>
        </div>
    </figure>
</div>
<ks-modal-gallery [id]="200" [modalImages]="images" [plainGalleryConfig]="customPlainGalleryRowDescConfig"
    [buttonsConfig]="buttonsConfigCustom">
</ks-modal-gallery>