
<!-- footer start -->
<footer class="resume copyright copyright-bg inner-pages-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="link link-horizontal  text-center mb-3">
                    <img src="assets/images/Logo.png" alt="" class="img-fluid logo">
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <div class="social-link link-horizontal">
                        <ul class="justify-content-center">
                            <li><a href="javascript:void(0)" class="copyright-text"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:void(0)" class="copyright-text"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:void(0)" class="copyright-text"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/victorinedupart/" class="copyright-text "><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
<app-tap-to-top></app-tap-to-top>
