
<footer class="event contact set-relative bg bg-img bg-about p-b-0 event-gradient" id="contact" >
    <div class="container p-b-100">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title3">
                    <div class="main-title">
                        <h2 class=" text-white"> Comment me contacter ? </h2>
                    </div>
                    <div class="sub-title">
                        <P class="text-white">Vous pouvez me contacter en remplissant le <span>formulaire</span> ci-dessous
                             ou directement faire une visite à mon bureau qui se situe ???.</P>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-md-6 p-r-0 map">
                <div class="iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319"
                    ></iframe>
                </div>
            </div>
            <div class="col-xl-5 p-l-0 col-md-6 set-z-index form-footer">
                <div class="bg-white">

                    <form (ngSubmit)="submitForm()">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Prénom *</label>
                                    <input type="text" name="name" class="form-control" id="name" [(ngModel)]="name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Phone">N° de téléphone *</label>
                                    <input type="text" name="phone" class="form-control" id="Phone" [(ngModel)]="phone">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Email">Email *</label>
                                    <input type="text" name="email" class="form-control" id="Email" [(ngModel)]="email">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Subject">Sujet *</label>
                                    <input type="text" name="subject" class="form-control" id="Subject" [(ngModel)]="subject">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Message">Message *</label>
                            <textarea class="form-control" name="message"id="Message" rows="10" [(ngModel)]="message"></textarea>
                        </div>
                        

                        <button type="submit" class="btn btn-default primary-btn m-0-auto event-btn ">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
